includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - lang
        - routes
        - src
    ignoreErrors:
        -
            # method_exists() check covers Filament versions below the one currently installed
            identifier: function.alreadyNarrowedType
            path: src/Filament/Exports/RedirectExporter.php
