parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<VanOns\\FilamentRedirects\\Models\\Redirect\>\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Actions/RedirectAction.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,VanOns\\FilamentRedirects\\Models\\Redirect\>\:\:first\(\) expects \(callable\(VanOns\\FilamentRedirects\\Models\\Redirect, int\)\: bool\)\|null, Closure\(VanOns\\FilamentRedirects\\Models\\Redirect\)\: \(0\|1\|bool\|string\) given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/RedirectAction.php

		-
			message: '#^Method VanOns\\FilamentRedirects\\Filament\\Resources\\RedirectResource\:\:getNavigationGroup\(\) should return string\|null but returns array\|string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Filament/Resources/RedirectResource.php

		-
			message: '#^Parameter \#1 \$label of method Filament\\Forms\\Components\\Component\:\:label\(\) expects Closure\|Illuminate\\Contracts\\Support\\Htmlable\|string\|null, array\|string\|null given\.$#'
			identifier: argument.type
			count: 9
			path: src/Filament/Resources/RedirectResource.php

		-
			message: '#^Parameter \#1 \$label of method Filament\\Tables\\Columns\\Column\:\:label\(\) expects Closure\|Illuminate\\Contracts\\Support\\Htmlable\|string\|null, array\|string\|null given\.$#'
			identifier: argument.type
			count: 7
			path: src/Filament/Resources/RedirectResource.php

		-
			message: '#^Parameter \#1 \$label of method Filament\\Tables\\Filters\\BaseFilter\:\:label\(\) expects Closure\|string\|null, array\|string\|null given\.$#'
			identifier: argument.type
			count: 3
			path: src/Filament/Resources/RedirectResource.php

		-
			message: '#^Binary operation "\.\=" between Illuminate\\Contracts\\Routing\\UrlGenerator\|string and non\-falsy\-string results in an error\.$#'
			identifier: assignOp.invalid
			count: 1
			path: src/Models/Redirect.php
